<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<body class="register">
    <%- include('../partials/header') %> 
    <main>
        <div class="container">
            <section>
                <div class="columns is-centered">
                    <div class="column is-6">
                        <h1>Registro</h1>
                        <form action="/users" method="POST" enctype="multipart/form-data">
                            <div class="columns">
                                <div class="column is-6">
                                    <div class="field">
                                        <label for="firstName">Nombre</label>
                                        <div class="control">
                                            <input type="text" name="firstName">
                                        </div>
                                        <p class="feedback"></p>
                                    </div>
                                </div>
                                <div class="column is-6">
                                    <div class="field">
                                        <label for="lastName">Apellido</label>
                                        <div class="control">
                                            <input type="text" name="lastName">
                                        </div>
                                        <p class="feedback"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label for="email">Email</label>
                                <div class="control">
                                    <input type="text" name="email">
                                </div>
                                <p class="feedback"></p>
                            </div>
                            <div class="field">
                                <label for="image">Imagen</label>
                                <div class="control">
                                    <input type="file" name="image" id="image"  class="<%= locals.errors && errors.image ? 'is-danger' : '' %> ">
                                </div>
                                <% if(locals.errors && errors.image) { %>
                                    <p class="feedback is-danger"><%= errors.image %> </p>
                                <% } %> 
                            </div>
                            <div class="field">
                                <label for="email">Contraseña</label>
                                <div class="control">
                                    <input type="password" name="password">
                                </div>
                                <p class="feedback"></p>
                            </div>
                            <div class="field">
                                <label for="email">Repetir Contraseña</label>
                                <div class="control">
                                    <input type="password" name="repassword">
                                </div>
                                <p class="feedback"></p>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <button type="submit">Registrarme</button>
                                </div>
                            </div> 
                        </form>  
                    </div>
                </div>
            </section>
        </div>
    </main>
    <%- include('../partials/footer') %> 
</body>
</html>